html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    display: inline;
    width: 100%;
    float: right;
    text-align: right;
    padding-right: 20px;
    padding-top: 25px;
    background-color: white;
}

.overlay {
    width: 0%;
    height: 0%;
        background-color: black;
    z-index: 3;
    display: none;
    padding-top: 300px;
}

.overlay h2 {
    text-align: center;
    color: white;
    font-family: 'Overpass Mono', monospace;
}

.menubtn {
    display: block;
    padding: 10px;
    border-radius: 50%;
}

.topbar {
  background-color: white;
    opacity: 100%;
  overflow: hidden;
position: fixed;
  top: 0;
  width: 100%;
    height: 7.5%;
    min-height: 72px;
}

nav a {
    color: dimgray;
    text-decoration: none;
    padding: 10px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10pt;
    z-index: 1;
}

.language {
    background-color: gainsboro;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 15px;
    font-family: 'Muli', sans-serif;
}

.intro {
    width: 100%;
    display: inline;
    float: left;
    margin-bottom: 25px;
    margin-top: 15px;
}

.intro h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    margin-left: 5%;
    margin-bottom: 6px;
     background: -webkit-linear-gradient(#03fc5a, #2ffaf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro h3 {
    font-size: 20px;
    color: slategray;
}

.opt {
    font-size: 1.25em;
    background-color: deepskyblue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    float: none;
    width: 92%;
    padding: 10px;
    border-radius: 10px;
}

.opt:hover {
     background-color: navy;
}

.opt2 {
    font-size: 1.25em;
    background-color: darkmagenta;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    float: none;
    width: 92%;
    padding: 10px;
    border-radius: 10px;
}

.computer {
    width: 100%;
    height: 100%;
    display: inline;
    float: right;
    text-align: left;
    padding: 0px;
    margin: 0px;
}


.hcont {
    float: left;
    width: 100%;
    display: inline-block;
    background-color: white
}

.hcont2 {
    float: left;
    width: 100%;
    display: inline-block;
    background-color: #fafafa;
}

.hcont2 h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    margin-left: 5%;
    margin-bottom: 6px;
     background: -webkit-linear-gradient(#ab00ba, #ff70f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scont {
    padding: 5%;
}

p {
    font-size: 14px;
        display: inline-block;
            word-wrap: break-word;
    white-space: normal; 
            color: white;
}

h3 {
    color: white;
}

.langbtn {
    background-color: white;
  color: black;
  padding: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
    margin-right: 10px;
    float: right;
    font-weight: 600;
}

.al {
    float: right;
    text-align: right;
}

p {
 
    font-family: 'Muli', sans-serif;
    color: whitesmoke;
    font-size: 14px;
    padding-left: 5%;
    display: inline-block;
}

h3 {
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    font-family: 'Muli', sans-serif;
    color: black;
}

.lem {
    float: right;
    padding: 8px;
    margin: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.lem:hover {
    background-color: gold;
    color: black;
}

@media screen and (max-width: 540px) {
        .menubtn {display: inline}
    .topbar {display: block}
    nav a {display: none}
    .vicon {display: inline-block}
}

@media screen and (min-width: 540px) {
    .menubtn {display: none}
    .topbar {display: none}
    nav {display: inline-block}
    .vicon {display: none}
    .svc {width: 217px}
    .svc img {width: 217px; height: 217px}
}

@media screen and (min-width: 760px) {
    .svc {width: 305px}
    .svc img {width: 305px; height: 305px}
}

@media screen and (min-width: 760px) {
    .svc {width: 305px}
    .svc img {width: 305px; height: 305px}
}

@media screen and (min-width: 1069px) {
    .svc-container {display: none;}
    .svc-desktop-container {display: block;}
}

@media screen and (min-width: 1000px) {
    .intro {float: left; width: 40%; max-height: 680px; margin-left: 10%;}
    .computer {width: 40%; float: right; margin-right: 10%;}
    .wbsp {max-width: 624px;}
    .abt p {font-size: 24px}
}
/*
h3 {
    text-align: center;
    color: white;
    background-color: limegreen;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
      font-family: 'Roboto', sans-serif;
    border-radius: 20%;
}
*/