html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    text-align: right;
    padding: 20px 20px;
}
 
.menubtn {
    float: right;
    padding: 50px;
    font-size: 30px;
}
nav a {
    color: #4188db;
    text-decoration: none;
    padding: 10px 10px;
    font-family: 'Muli', sans-serif;
    font-size: 20;
}

.language {
    background-color: gainsboro;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 15px;
    font-family: 'Muli', sans-serif;
}

.newsbox {
    background-color: gainsboro;
    color: black;
    font-family: 'Muli', sans-serif;
    margin: 10px;
    padding: 8px;
    width: 25%;
    height: 50%;
}
.langbtn {
    background-color: white;
  color: black;
  padding: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
    margin-right: 10px;
    float: right;
    font-weight: 600;
}

.al {
    float: right;
    text-align: right;
}

h2,p {
    padding-left: 10px;
    font-family: 'Muli', sans-serif;
    color: white;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}
.about {
    background-color: #4188db;
    padding: 10px;
}

.why-us {
    background-color: #5dc2de;
    padding: 10px;
}

.interest {
    background-color: #67e66b;
    padding: 10px;
}

h3 {
    
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}
@media screen and (min-width: 751px) {
    .menubtn {display: none;}
    nav {display: block}
        .newsbox {display: block};
    .newsbox-mobile {display: none};
    .menubar {display: none};
}

@media screen and (max-width: 750px) {
    .menubtn {display: block}
    nav {display: none}
    .overlay-content {display: none}
    .overlay {display: none};
    .newsbox {display: none};
    .newsbox-mobile {display: block};
    .menubar {display: none};
}