html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    text-align: right;
    padding: 20px 20px;
}

nav a {
    color: #4188db;
    text-decoration: none;
    padding: 10px 10px;
    font-family: 'Muli', sans-serif;
    font-size: 20;
}

.langbtn {
    background-color: white;
  color: black;
  padding: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
    margin-right: 10px;
    float: right;
    font-weight: 600;
}

.al {
    float: right;
    text-align: right;
}
/* Dropdown Button */
.dropbtn {
background-color: white;
  color: black;
  padding: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
    float: right;
    font-weight: 600;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    padding: 0px;
    margin-right: 10px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-family: 'Lato', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
@media screen and (max-width: 288px) {
        .dropmenu {display: block}
    nav {display: none}
}

@media screen and (min-width: 750px) {
    .dropmenu {display: none}
    .dropbtn {display: none}
    nav {display: block}
    .overlay-content {display: none}
    .overlay {display: none};
}